.container {
	max-width: 1200px;
}

.section-container {
	max-width: 1200;
}

.welcome-area {
	height: 100vh;
	max-width: 1200px;
	/* margin: auto; */
}

.card-div {
	width: 50%;
	height: 50%;
}





h1,
h3 {
	text-align: center;
	margin: auto;
	padding: 10px;
}

.category-area {
	height: 100vh;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-auto-rows: minmax(200px, auto);
	grid-gap: 1rem;
	margin: 0 auto;
	max-width: 1200px;
	padding: 1rem;
	color: black;
}

.home-button-container {
	display: flex;
	justify-content: center;
	align-items: baseline;
}

.home-button {
	width: 200px;
	flex-basis: auto;
	margin: 25px 1.5rem;
}

.category-area {
	text-align: center;
	place-items: center;
}

.image {
	max-height: 28rem;
	margin: 20px 35%;
	

}



.category-card-text {
	line-height: 10rem;
}
.price-card-body {
	background-image: url('../../imgs/pinksquare.png');
	background-size: 100%;
	width: 125%;
	height: 138%;
	color: white;
}

.price-card-text {
	line-height: 10rem;
}

.catimage{
	
	justify-content: stretch;


}

@media screen and (max-width:500px) {
	.image{
		display:none;
	}
	.price-card-body{
		background-repeat: no-repeat;
		width: 13rem;
		margin: 2rem 0 0 0;
	}
	.browse-text{
		display:none;
	}
} 